body {
  color: #6e5032;
  background-color: #ffead6;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin: 0;
}

.vystup {
  margin: 5% 7% 5% 7%;
  border-radius: 50px 50px 0 0;
  box-shadow: 5px 10px 8px #6e5032;
  margin: 5% 7% 3% 7%;
  background-color: #efc9a3;
}

a {
  font-style: italic;
}

h1 {
  padding: 5% 0 0 0;
  text-align: center;
}

.osobni_udaje ul {
  text-align: left;
}

header {
  text-align: center;
}

.foto_udaje {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.portret {
  width: 250px;
  border-radius: 50%;
  float: left;
  padding: 20px;
}

h2 {
  font-weight: bold;
}

section {
  overflow: auto;
  padding: 50px 10%;
  background-color: #efc9a3;
}

footer {
  text-align: center;
  vertical-align: middle;
  background-color: #6e5032;
  color: #ffead6;
  padding: 1px;
  margin: 5% 0% 0 0%;
  font-size: smaller;
}

.vystup li {
  list-style: none;
  line-height: 2;
}

.pracovni_zkusenosti,
.ostatni_dovednosti,
.vzdelani {
  background-color: #efc9a3;
}

.pracovni_zkusenosti th,
.vzdelani th,
.ostatni_dovednosti th {
  padding-right: 60px;
}

table {
  text-align: left;
}

.pozice {
  font-weight: 600;
  padding-left: 20px;
  vertical-align: text-top;
}

.firma {
  padding-left: 20px;
  font-weight: bolder;
  font-style: italic;
  margin-top: 5px;
}

.typ_dovednosti {
  vertical-align: text-top;
  padding-right: 20px;
  font-weight: bolder;
}

.menu {
  text-align: center;
  background-color: #6e5032;
  margin: 0;
}

.menu li {
  display: inline-block;
}

.menu a {
  display: inline-block;
  color: #ffead6;
  text-decoration: none;
  padding: 10px 20px;
}

.menu a:hover,
.menu a:focus {
  background-color: #efc9a3;
  color: #6e5032;
}

.pracovni_zkusenosti ul,
.vzdelani ul,
.ostatni_dovednosti ul {
  margin-top: 5px;
}

section {
  border-radius: 0 50px 50px 50px;
  box-shadow: 5px 10px 8px #6e5032;
  margin: 3% 7% 3% 7%;
}
